{# templates/htmlElement/eventCreationForm.html.twig #}
<form action="/action/event" method="POST">
    <div><span>debut</span><input name="event[start]" type="datetime-local"/></div>
    <div><span>fin</span><input name="event[end]" type="datetime-local"/></div>
    <button>valider</button>
</form>